.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 74px;
  background-color: #ffffff;
  border-bottom: 2px solid rgb(226, 232, 240);
}


.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
  margin-left: 100px;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* .header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  height: 74px;
  background-color: #ffffff;
  border-bottom: 2px solid rgb(226, 232, 240);

  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.header-left{
    display: flex;
  align-items: center;
  gap: 16px;
  flex: 1; 
}
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;


}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
} */
