/* .navlinks-container {
  display: flex;
  gap: 40px; 
  margin-left: auto;
  margin-right: 50px; 
}

.navlink {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  transition: color 0.2s ease;
}

.navlink:hover {
  color: #0073e6;
} */

.navlinks-container {
  display: flex;
  gap: 32px;
}

.navlink {
  text-decoration: none;
  font-size: 13px;
  color: #000;
  transition: color 0.2s ease;
}

.navlink:hover {
  color: #0073e6;
}
